@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ysabeau+SC:wght@400;600;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: #ccc;
}

header {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    background: rgb(16, 45, 56);
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Chela One', cursive;
    text-transform: uppercase;
}

.spn-1 {
    color: white;
    font-weight: bold;
}

.spn-2 {
    color: black;
    font-weight: bold;
}

.spn-3 {
    color: black;
    font-weight: bold;
    font-size: 2.6rem;
}

nav a {
    padding-left: 1rem;
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: black;
    font-weight: bold;
}



#start {
    background: rgba(0, 0, 0, 0.7) url(../img/header.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom left;
    background-repeat: no-repeat;
    height: 100vh;
}

.box-start {
    text-align: center;
    padding-top: 250px;

}

.box-start h1,
h4 {
    padding: 15px;
    text-transform: uppercase;
}

.box-start h4 {
    font-size: 1.2rem;
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.box-start h1 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

.box-start-2 {
    padding-top: 50px;
    margin: auto;
    width: 600px;
    text-align: center;
}

.box-start-2 p {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.btn-start {
    font-size: 1rem;
    background: none;
    border: 3px solid white;
    padding: 15px;
    width: 150px;
    margin-top: 50px;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.btn-start:hover {
    background-color: #4d5a37;
    transition: ease-in 2s;
    color: black;
    border: 3px solid black;
}

#about {
    height: 80vh;
    background: rgb(21, 58, 73);
}

.about-container-content {
    display: flex;
    justify-content: center;
    position: relative;
    transform: translate(2%, 2%);
}

.card-about-img {
    width: 385px;
    height: 550px;
    background: rgba(0, 0, 0, 0.7) url(../img/about.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-about-content {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 550px;
    background-color: #ccc;
}

.card-about-content h3 {
    color: rgb(21, 58, 73);
    font-weight: bold;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.card-about-content p {
    text-align: justify;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.social-media-card {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    font-size: 2.5rem;
    margin: auto;

}

.icon-sm {
    cursor: pointer;
    color: rgb(21, 58, 73);
    font-weight: bold;
}

.icon-sm:hover {
    cursor: pointer;
    color: black;
    font-weight: bold;
}




#services {
    background: rgba(0, 0, 0, 0.7) url(../img/bg-services.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom left;
    background-repeat: no-repeat;
    height: 100vh;
}

.center-text {
    text-align: center;
    padding: 30px;
    font-size: 2rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.box-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card-services {
    width: 430px;
    height: 400px;
    margin: 10px;
    border: 3px solid #ccc;
    border-radius: 15px;
}

.card-img-services {
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.card-services-content h3 {
    padding: 10px;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.card-services-content p {
    padding: 10px;
    font-size: 1rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.it-support {
    background: url(../img/it.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.marketing-d {
    background: url(../img/marketing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wb {
    background: url(../img/wb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sf {
    background: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



@media only screen and (max-width: 900px) {
    .logo {
        display: none;
    }


    header {
        padding: 10px;
    }

    .box-start h1 {
        font-size: 1.5rem;
    }

    .box-start h4 {
        font-size: 1rem;
    }

    .box-start-2 p {
        padding-right: 80px;
    }

    .box-start-2 .btn-start {
        margin-bottom: 60px;
        margin-right: 100px;
    }

    .about-box {
        margin-top: 35%;
        position: relative;
        width: 450px;
        height: 200px;
        background: whitesmoke;
    }

    .box-services {
        display: flex;
        flex-wrap: wrap;

    }

    .card-services {
        width: 220px;
        height: 470px;
        margin: 10px;
        border: 3px solid #ccc;
        border-radius: 15px;
    }

    .card-about-img {
        display: none;
    }

    .card-about-img {
        width: 100px;
        height: 550px;

    }


    .card-about-content {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        height: 750px;
        background: rgba(0, 0, 0, 0.7) url(../img/about.jpg);
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .card-about-content h3 {
        text-align: center;
        color: black;
        font-weight: bold;
        padding: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
    }

    .card-about-content p {
        text-align: justify;
        padding: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: white;
    }

    .social-media-card {
        display: flex;
        padding: 20px;
        gap: 20px;
        font-size: 2rem;
        margin: auto;

    }

    .icon-sm {
        color: white;
    }


    #about {
        height: 160vh;
    }

    #services {
        height: 280vh;
    }

}